In [1]:
a=10
print(a)

10

# Title01: Printing
-basic commands

In [2]:
a.numerator

10

In [10]:
print("Hello"+"World",4)

HelloWorld 4

In [4]:
print('hello')

hello

In [5]:
print('''hello world
the earth is coming
for you''')

hello world
the earth is coming
for you

In [6]:
#analyze fdfs

In [7]:
print(a)

10

In [8]:
a=10 #intializing a with 10

In [9]:
'''in the ends
it doent even matter
its '''

'in the ends\nit doent even matter\nits '

In [11]:
1/2
1//2

0

In [12]:
1/2

0.5

In [13]:
1//2

0

In [14]:
3//2

1

In [15]:
a=str(a)
print(a)

10

In [16]:
int a=10
a=3/2

SyntaxError: invalid syntax (<ipython-input-16-cadd9e56bab9>, line 1)

In [17]:
str1="Hello"
str2="world"
str3= str1+str2

In [18]:
print(str3)

Helloworld

In [21]:
a=2/3
print(a)
prin(type(a))
a=2//3
print(a)
print(type(a))

0.6666666666666666

NameError: name 'prin' is not defined

In [22]:
type(a)

float

In [23]:
a=2//3
type(a)

int

In [24]:
tv_brand='SAMSUNG'
tv_price=100000000
person1=12

In [25]:
print=10
print("hello")

TypeError: 'int' object is not callable

In [26]:
print(a)

TypeError: 'int' object is not callable

In [27]:
del(print)

In [28]:
print("hi")

hi

In [29]:
a=10
print(a+=30)

SyntaxError: invalid syntax (<ipython-input-29-ef1b216c69f5>, line 2)

In [30]:
a=10
a+=30
print(a)

40

In [31]:
a=10
b=10
a==b

True

In [32]:
type(True)

bool

In [33]:
a>b

False

In [34]:
a<b

False

In [35]:
a!=b

False

In [36]:
a>=b

True

In [37]:
a<=b

True

In [38]:
10<a<20

False

In [39]:
10<a>20

False

In [40]:
age=10
5<=age<=10

True

In [41]:
4<age<11

True

In [42]:
a='a'
type(a)

str

In [43]:
len(a)

1

name='gaurav'

In [44]:
name='gaurav'
len(name)

6

In [45]:
tv_brand='SAMSUNG'
tv_price=100000000
string1="tv=%s, price=%d"%(tv_brand,tv_price)
print(string1)

tv=SAMSUNG, price=100000000

In [46]:
print(len(string1))

27

In [47]:
10/3

3.3333333333333335

In [48]:
print"float=%10.3f"%(10/3)

SyntaxError: invalid syntax (<ipython-input-48-92ff17271f88>, line 1)

In [51]:
a=10/3
b="float=%100.3f"%(a)
print(b)

float=                                                                                               3.333

In [53]:
a=1234567890
b="ans=%6d"%(a)
print(b)

ans=1234567890

In [56]:
string="hello world"
print(string[-1])

d

In [57]:
string[0:5]

'hello'

In [58]:
string[0:8]

'hello wo'

In [66]:
string[5:len(string)]

' world'

In [60]:
len(string)

11

In [61]:
string[0:11:2]

'hlowrd'

In [62]:
string[-1:-10:-1]

'dlrow oll'

In [67]:
string[0:10]

'hello worl'

In [68]:
name="GG"
price=100
string1="Name = %s, Rate= %d"%(name, price)

In [69]:
a=100
print("%x"%(a))

64

In [70]:
print(hex(a))

0x64

In [71]:
print(bin(a))

0b1100100

In [72]:
print(oct(a))

0o144

In [73]:
a=10
hex(a)

'0xa'

In [75]:
hex(10)BufferError

SyntaxError: invalid syntax (<ipython-input-75-3d54910594bd>, line 1)

In [76]:
string[::-1]

'dlrow olleh'

In [77]:
print(string)

hello world

In [78]:
string[0]='a'

TypeError: 'str' object does not support item assignment

In [79]:
string.isascii

In [80]:
string

'hello world'

In [122]:
string2="hh Daa Analytics Data= 100"
string1="Data ="
b=(string2.find(string1))+len(string1)
print(string[b:])

a Analytics Data= 100

In [109]:
list1=["Ram",10,90.12,True]
print(list1)

['Ram', 10, 90.12, True]

In [110]:
list1[2]

90.12

In [111]:
type(list1[3])

bool

In [112]:
list1[0]="Hi"

In [113]:
print(list1)

['Hi', 10, 90.12, True]

In [114]:
list1[0]=2

In [115]:
print(list1)

[2, 10, 90.12, True]

In [117]:
list1[2:3]

[90.12]

In [118]:
list1[0:3]

[2, 10, 90.12]

In [119]:
type(list1[0])

int

In [120]:
list1[0]="Gaurav"

In [121]:
print(list1)

['Gaurav', 10, 90.12, True]

In [127]:
del(print)

In [128]:
print(2)

2

In [129]:
list1=[1,2,3]
list2=[4,5,6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

In [137]:
list1=[1,2,3]
list2=[4,5,6]
list1.append(list2)
print(list1)

[1, 2, 3, [4, 5, 6]]

In [131]:
list1[3]

[4, 5, 6]

In [133]:
list1[3][0]

4

In [134]:
string1="hello"
list1=list(string1)
print(list1)

['h', 'e', 'l', 'l', 'o']

In [135]:
string1="Ajay Ram Gandhi"
list1=string1.split(" ")
print(list1)

['Ajay', 'Ram', 'Gandhi']

In [138]:
type(list1[3])

list

In [139]:
list1=[10,100,3,5,15]
list1.sort()
print(list1)

[3, 5, 10, 15, 100]

In [140]:
print(list1.count(10))

1

In [141]:
print(list1)

[3, 5, 10, 15, 100]

In [144]:
list1=[10,100,3,5,15]
list2=list1
list1[0]="Hello"
print(list1)
print(list2)

['Hello', 100, 3, 5, 15]
['Hello', 100, 3, 5, 15]

In [147]:
list1=[10,100,3,5,15]
list2=list1.copy()
list1[0]="Hello"
print(list1)
print(list2)

['Hello', 100, 3, 5, 15]
[10, 100, 3, 5, 15]

In [148]:
list1.reverse()
print(list1)

[15, 5, 3, 100, 'Hello']

In [149]:
line1="Hello World"

In [ ]:
line1.find