In [2]:
tup1=(10)
type(tup1)

int

In [3]:
tup2=("String")
type(tup2)

str

In [4]:
tup3=(10,)
type(tup3)

tuple

In [5]:
print(tup3)

(10,)

In [6]:
list1=[1]
type(list1)

list

In [7]:
a=12345
print("%10d"%a)

     12345

In [8]:
print("%b"%a)

ValueError: unsupported format character 'b' (0x62) at index 1

In [ ]:
print("%s"%a)

In [ ]:
bin(a)

In [ ]:
a=10
bin(a)

In [ ]:
a=10.12345
print("%.2f"%a)

In [ ]:
a=("Hello World")
print("%.2s"%a)

In [ ]:
a.index("o")

In [ ]:
a.count("o")

In [ ]:
a.count("l")

In [ ]:
tup1=(1,2,"Char",[1,2,"Char2"],2.5,9,"Char3")
print(tup1)

In [ ]:
tup1[3][2][3]

In [ ]:
type(tup1[3][2][3])

In [ ]:
b=(10,25,.36,5,446,1)

In [ ]:
string1="the hindu"
title=string1.title()

In [ ]:
print(title)

In [ ]:
string1.center(49)

In [ ]:
title.center(49)

In [ ]:
string1.title()

In [ ]:
print(string1.title().center(40).find("The"))

In [ ]:
type(1.5)

In [ ]:
print(string1.title().center(40).index("The"))

In [ ]:
tup1

In [ ]:
tup1=(1,2,3,4)
tup1=list(tup1)
tup1[0]=100
tup1=tuple(tup1)
print(type(tup1))

In [ ]:
print(tup1)

In [ ]:
tup1=(1,2,3,4)
tup1=(((list(tup1))[0])=100)

In [ ]:
dict1={"Key1" : "val", "Key2": "val"}

In [ ]:
dict1

In [ ]:
type(dict1)

In [ ]:
dict1={"Name":"Mac","RAM":8,"HD":23}

In [ ]:
dict1

In [ ]:
dict2={"Name":"Dand","Age":10,"Perc":90.1}

In [ ]:
dict2["Age"]

In [ ]:
dict3={0:"Ram",1:"Shayam"}

In [ ]:
dict3[0]

In [ ]:
dict4={(1,2,3):"Ram",(4,5,6):"Shayam"}

In [ ]:
dict4[(4,5,6)][3]

In [ ]:
dict5={True:"Ram",False:"Shyam"}

In [ ]:
dict5[False]

In [ ]:
dict6={"Name":"Ram","Name":"Shayam"}

In [ ]:
dict6["Name"]

In [ ]:
dict7={"Name":["Ram","Shyam"],"Age":[15,16]}

In [ ]:
dict7["Age"]

In [ ]:
dict8={"Mobile":{"Screen":5,"Brand":"OnePlus","HW":{"CPU":18,"RAM":8}}}

In [ ]:
dict8["Mobile"]["HW"]["RAM"]

In [ ]:
dict8.items()

In [ ]:
dict6.items()

In [ ]:
dict9={"Mobile":{"Screen":5,"Brand":"OnePlus","HW":{"CPU":18,"RAM":8,"Cache":[228,235]}}}

In [ ]:
dict9["Mobile"]["HW"]["Cache"][0]

In [ ]:
dict10={[1,2,3]:"Shyam"}

In [ ]:
i=11
if i>10:
    print("Yes")
else:
    print("No")
print("Done")

In [ ]:
Year=2018

if (Year%4)==0:
    print("Yes",Year,"is a leap year")
else:
    print("No",Year,"is not a leap year")
print("Done")

In [ ]:
age=75

if 0<=age<5:
    print("No Ticket")
elif 5<=age<10:
    print("Half Ticket")
elif 9<age<60:
    print("Full Ticket")
else:
    print("Senior")

In [ ]:
marks=int(input("Marks ="))
if 0<=marks<36:
    print("Fail")
elif 35<marks<51:
    print("Third")
elif 50<marks<61:
    print("Second")
else:
    print("First")

In [ ]:
input1=input()

In [ ]:
type(input1)

In [ ]:
input1=input()

In [ ]:
type(input1)

In [ ]:
string1= "GauravGarhewal"
string1.split("v")

In [ ]:
string1= "GauravGarhewal"
string1.partition("v")

In [ ]:
string1=list(string1)

In [ ]:
string1

In [ ]:
string1.pop()

In [ ]:
string1

In [ ]:
a=20
if (a==10):
    print("Yes")
else:
    print("No")

In [ ]:
list1= [(1,2,"Game0",[1,2,3]),(4,5,"String")]

In [ ]:
list1[0][3].pop()

In [ ]:
list1

In [ ]:
list1= [1,2]
list2= [3,4]
list1.append(list2)
print(list1)

In [ ]:
list1= [1,2]
list2= [3,4]
list1.extend(list2)
print(list1)

In [ ]:
list1=["Kormangla","Central"]

if (list1[0]=="Kormangla") or (list1[1]=="HSR lyt"):
    print("Banglore")
else:
    print("Out")

In [ ]:
not(10)

In [ ]:
not(0)

In [ ]:
not(-1)

In [ ]:
list1=[1,2,3]

if 1 in list1:
    print("Yes")
else:
    print("No")

In [ ]:
a="Hello"
if "H" in a:
    print("Yes")
else:
    print("No")

In [ ]:
a=('h',1,2,3)

if 'h' in a:
    print("Yes")
else:
    print("No")

In [ ]:
a=(4,6,1,3)
b=sorted(a)
print(b)

In [ ]:
tuple(b)

In [ ]:
a=(4,6,1,3)
b=sorted(a,reverse= True)
print(b)

In [ ]:
list1= [4,6,1,3]
sorted(list1)
print(list1)

In [ ]:
list1=list[1:10]
print(list1)

In [ ]:
for n in [1,2,3,4]:
    print(n)

In [ ]:
list1= ['Banglore', 'Chennai','Hyderabad','Delhi']

for element in list1:
    print(element)

In [ ]:
for name in "Delhi":
    print(name)

In [ ]:
for tup in (1,2,"GG"):
    print(tup)

In [ ]:
string1 = input()
age=string1.split(" ")

for e in age:
    n=int(e)
    if 0<n<5:
        print("No Ticket for the age of ",n)
    elif 4<n<10:
        print("Half ticket for the age of ",n)
    elif 9<n<60:
        print("Full Ticket for the age of ",n)
    else:
        print("Senior citizen ticket for the age of ",n)

In [ ]:
list1=['hello','100','20']

for element in list1:
    if element.isdigit():
        n=int(element)
        if 0<n<5:
            print("No Ticket for the age of ",n)
        elif 4<n<10:
            print("Half ticket for the age of ",n)
        elif 9<n<60:
            print("Full Ticket for the age of ",n)
        else:
            print("Senior citizen ticket for the age of ",n)
    else:
        print("Cannot evaluate ",element)

In [ ]:
str1="Hello"

In [ ]:
str1.isdigit()

In [ ]:
input1=input()

list1=input1.split(" ")

for element in list1:
    if element.isdigit():
        n=int(element)
        if 0<n<5:
            print("No Ticket for the age of ",n)
        elif 4<n<10:
            print("Half ticket for the age of ",n)
        elif 9<n<60:
            print("Full Ticket for the age of ",n)
        else:
            print("Senior citizen ticket for the age of ",n)
    else:
        print("Cannot evaluate ",element)

In [ ]:
element=('3.5')

In [ ]:
element.isdecimal()

In [ ]:
element.split('.')

In [ ]:
list1=list(range(10))

In [ ]:
print(list1)

In [ ]:
list2=list(range(5,10))
print(list2)

In [ ]:
list3=list(range(0,100,4))
print(list3)

In [ ]:
for x in range(1,100,4):
    if (x%2)== 0:
        print("Even")
    else:
        print("Odd")

In [ ]:
Str1="Student"
for x in range(0,100):
    n=str(x)
    print(Str1+n)

In [ ]:
Str1="Student"
list1=[]
for x in range(0,100):
    n=str(x)
    list1.append(Str1+n)
print(list1)

In [ ]:
for i in range(100):
    if i>50:
        break
    else:
        print(i)

In [25]:
list1=[1,10,5,'Hello',12]

for element in list1:
    n=str(element)
    if n.isdigit():
        print(n)
    else:
        break

1
10
5

In [24]:
a=0
while(a<10):
    print(a)
    a+=1

0
1
2
3
4
5
6
7
8
9

In [23]:
a=0
while (True):
    print(a)
    a+=1
    if a>10:
        break
print("Done")

0
1
2
3
4
5
6
7
8
9
10
Done

In [22]:
i=0
list1=['Hello','Hi','Exit','Bye']
while(True):
    msg=list1[i]
    if (msg.find('Exit') >=0):
        break
    else:
        print(msg)
    i+=1

Hello
Hi

In [21]:
while(True):
    msg=input("Enter the string: ")
    if (msg.find('Exit') >=0):
        break
    else:
        print(msg)

Enter the string: Guarv
Guarv
Enter the string: Matter
Matter
Enter the string: Exit

In [ ]:
dict1={'key1':1,'key2':2}

for key,val in dict1.items():
    print(key,val)

In [3]:
a=int(input("Enter the integer for factorial value: "))
fact=1
while(a>0):
    fact=fact*a
    a-=1
print("The factorial is",fact)

Enter the integer for factorial value: 5
The factorial is 120

In [7]:
a=int(input("Enter the digits request for fibonacci series: "))-2
x=0
if a==-1:
    print(0)
elif a==-2:
    print("Nothing to show")
elif a<-2:
    print("Cannot be negative number")
else:
    list1=[0,1]
    while(a>0):
        list1.append(list1[x]+list1[x+1])
        x+=1
        a-=1
    print(list1)

Enter the digits request for fibonacci series: 100
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026]

In [1]:
a=input("Enter the value to check palindrome: ")
b=str(a)
c=list(b)
length=len(c)
j=0
count=0
while(0<length):
    i=length-1
    if c[i] == c[j]:
        count=count+1
        if count>=(len(c)/2):
            print("It is a palindrome")
            break
    else:
        print("It is not a palindrome")
        break
    length-=1
    j+=1

Enter the value to check palindrome: 565
It is a palindrome

In [ ]:
a=input("Enter the value to check palindrome: ")
b=str(a)
list1=list(b)
temp=list1
temp.reverse()
if list1==temp:
    print(a," is a Palindrome")
else:
    print(a," is not a Palindrome")