In [38]:
import numpy as np

In [39]:
Aarr= np.array([15,12,14,11])
Barr= np.array([39,45,48,60])
Carr= np.array([65,45,32,38])

In [40]:
Amean=Aarr.mean()
Amean

13.0

In [41]:
Bmean=Barr.mean()
Bmean

48.0

In [42]:
Cmean=Carr.mean()
Cmean

45.0

In [43]:
(Aarr-13)**2

array([4, 1, 1, 4], dtype=int32)

In [44]:
xg=sum(Aarr+Barr+Carr)/12
xg

35.333333333333336

In [59]:
SSbetween=((Amean-xg)**2)*4 + ((Bmean-xg)**2)*4 + ((Cmean-xg)**2)*4
SSbetween

3010.666666666667

In [60]:
SSwithin= sum((Aarr-Amean)**2) + sum((Barr-Bmean)**2) + sum((Carr-Cmean)**2)
SSwithin

862.0

In [55]:
dfnum= 2
dfden=9

In [56]:
a= SSbetween/dfnum

In [57]:
b= SSwithin/dfden

In [58]:
a/b

15.716937354988401

In [63]:
Totalarr= np.append(Aarr,Barr,Carr,axis=0)

TypeError: append() got multiple values for argument 'axis'

In [62]:
3010.67/3872.67

0.7774145486189115

In [66]:
import pandas            as pd
import numpy             as np
import matplotlib.pyplot as plt
import seaborn           as sns

total_df = pd.DataFrame()

df1            = pd.DataFrame({'Brand': 'A', 'Price':Aarr})
df2            = pd.DataFrame({'Brand': 'B', 'Price':Barr})
df3            = pd.DataFrame({'Brand': 'C', 'Price':Carr})

total_df = total_df.append(df1) 
total_df = total_df.append(df2) 
total_df = total_df.append(df3) 

total_df

  Brand  Price
0     A     15
1     A     12
2     A     14
3     A     11
0     B     39
1     B     45
2     B     48
3     B     60
0     C     65
1     C     45
2     C     32
3     C     38

In [71]:
import statsmodels.api         as     sm
from   statsmodels.formula.api import ols
 
mod = ols('Price ~ Brand', data = total_df).fit()
aov_table = sm.stats.anova_lm(mod, typ=2)
print(aov_table)

               sum_sq   df          F    PR(>F)
Brand     3010.666667  2.0  15.716937  0.001158
Residual   862.000000  9.0        NaN       NaN

In [72]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
print(pairwise_tukeyhsd(total_df['Price'], total_df['Brand']))

Multiple Comparison of Means - Tukey HSD,FWER=0.05
============================================
group1 group2 meandiff  lower  upper  reject
--------------------------------------------
  A      B      35.0    15.695 54.305  True
  A      C      32.0    12.695 51.305  True
  B      C      -3.0   -22.305 16.305 False
--------------------------------------------

In [75]:
(64/7)+(64/93)

9.831029185867894

In [76]:
arr1=np.array([7,16,6])
arr2=np.array([43,34,44])

In [78]:
sum(((arr1-9.67)**2)/9.67) + sum(((arr2-40.33)**2)/40.33)

7.777959548307639

In [79]:
5.991

5.991

In [2]:
import scipy.stats as stats

In [5]:
stats.f.isf(0.05,dfd=2,dfn=128)

19.487914289788403