# Train data set

In [63]:
from sklearn.model_selection import train_test_split

In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.linear_model import LinearRegression

In [37]:
data=pd.read_csv('LGD_DATA.csv')

In [38]:
data.head()

,Ac_No,Age,Years of Experience,Number of Vehicles,Gender,Married,Losses in Thousands
0,150024,24,5,1,M,Married,203.319595
1,144880,31,10,1,F,Single,402.197302
2,133742,56,37,1,M,Married,553.132096
3,151282,52,31,1,F,Married,292.430579
4,174407,20,3,1,M,Single,246.540576

In [39]:
data_new= pd.get_dummies(data, drop_first=True)
data_new.head()

,Ac_No,Age,Years of Experience,Number of Vehicles,Losses in Thousands,Gender_M,Married_Single
0,150024,24,5,1,203.319595,1,0
1,144880,31,10,1,402.197302,0,1
2,133742,56,37,1,553.132096,1,0
3,151282,52,31,1,292.430579,0,0
4,174407,20,3,1,246.540576,1,1

In [40]:
x=data_new.iloc[:,[1,2,3,5,6]]
y=data_new.iloc[:,4]

In [41]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.3, random_state=1)

In [42]:
linreg= LinearRegression()

In [43]:
linreg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [44]:
x_train.head()

       Age  Years of Experience  Number of Vehicles  Gender_M  Married_Single
14021   68                   49                   4         1               0
10757   49                   31                   3         0               0
12299   45                   28                   3         0               1
12478   19                    0                   3         1               1
3207    36                   16                   2         0               0

In [45]:
linreg.intercept_

525.4414005270216

In [46]:
linreg.coef_

array([ -5.35883861,  -0.8110559 ,  -1.7909082 ,  97.26637702,
       136.80434436])

In [47]:
ycap= linreg.predict(x_test)
ycap

array([533.38454333, 495.47213679, 396.32803875, ..., 242.73682144,
       436.11816631, 323.28442313])

In [48]:
y_test.head()

2819     159.890017
14238    628.896467
13045    500.512141
13415    213.990377
3071     628.103515
Name: Losses in Thousands, dtype: float64

In [55]:
SSE= round(np.sum((y_test-ycap)**2),3)
TSS= round(np.sum((y_test-np.mean(y_train))**2),3)
Rsq= round(1- (SSE/TSS),3)
mape= round(np.mean(abs((ycap-y_test)/y_test)),3)

print('SSE = ', SSE, '\nTSS = ',TSS,'\nR Square = ', Rsq,'\nMAPE = ',mape)

SSE =  207539691.188
TSS =  294577853.159
R Square =  0.295
MAPE =  0.7

In [52]:
type(y_test)

pandas.core.series.Series

In [56]:
((20*19*18*17)/(4*3*2))*((0.5)**20)

0.004620552062988281

In [57]:
import scipy.stats as stats

In [64]:
1-stats.binom.cdf(16,20,0.5)

0.0012884140014648438

# Hypothesis in Regression

In [65]:
variance_inflation_factor(data.values)

NameError: name 'variance_inflation_factor' is not defined