# start of python

In [2]:
"""
python
hello world
hello multiverse
"""

'\npython\nhello world\nhello multiverse\n'

In [3]:
print('sensei')
print("move on")

sensei
move on

In [10]:
age=30

sentence="hello world"

height=1.68

sentence

age

30

In [5]:
sentence

'hello world'

In [6]:
age

30

In [9]:
print(len(sentence))

11

In [13]:
first_name='Gaurav'
last_name='Garhewal'

name=first_name +  " " +last_name

print(name)

type(name)

Gaurav Garhewal

str

# Multiple assignment

In [14]:
#int

a,b,c=1,2,3

out=a+b+c
out

6

In [15]:
#assign same value to multiple variable

a1=a2=a3=4

print(a1)
print(a2)

4
4

In [16]:
fname,lname='Gaurav','Garhewal'
fname

'Gaurav'

In [17]:
state=True
print(state)

state1=False
print(state1)

type(state)

True
False

bool

In [18]:
age,name,height=26,'Gaurav',5.14

print(age)
print(name)
print(height)

type(height)

26
Gaurav
5.14

float

# Type casting

In [20]:
#int to float

a=1

float(a)

1.0

In [21]:
type(a)

int

In [22]:
b=1.23
int(b)

1

In [23]:
a=12
str(a)

'12'

# Arithematic Operation

In [44]:
length=12
width=2

tot=length+width

print("Addition %d of these is %d" %(tot,tot))

Addition 14 of these is 14

In [32]:
l=14

w=3

a=l%w
a

2

In [34]:
a=10
a+=2
a

12

In [35]:
a=10
a/=2
a

5.0

In [37]:
a='Gaurav '
a*6

'Gaurav Gaurav Gaurav Gaurav Gaurav Gaurav '

In [39]:
name='GauravGarhewalwork'

print(name)
print(name[4])
print(name[0:3])
print(name[0:-1])

GauravGarhewalwork
a
Gau
GauravGarhewalwor

In [41]:
name.count('a')

4

In [42]:
weight=100
height=1.9

BMI= weight/((height)**2)

print(BMI)

27.70083102493075

In [48]:
principal=50000
rate=7.25/100
time=8

si=principal*rate*time

print(si)

print(type(si))

print('My simple interest is %f INR for %d of years' %(si,time))

28999.999999999996
<class 'float'>
My simple interest is 29000.000000 INR for 8 of years

In [49]:
a,b,c=1,2,3

In [50]:
a>b and c>b

False

In [51]:
b>a and c>b

True

In [52]:
a>b or c>b

True

In [53]:
a>b | c>b

False

In [58]:
a>b & c>b

False

In [54]:
10%2==0

True

In [55]:
3+6==9

True

In [56]:
i=11

In [57]:
print(i)

not(i<20)

11

False

In [60]:
greet='Hey %s, you are welcome'
nm='Gaurav'

greet%(nm)

'Hey Gaurav, you are welcome'

In [61]:
stat='Hey %s, you are %d year old'
nm='Gaurav'
age=28

stat%(nm,age)

'Hey Gaurav, you are 28 year old'

In [62]:
name=('Gaurav','Garhewal')
type(name)

tuple

In [64]:
print("last name is {}".format(name[1]))
print("last name is ",name[1])
print("last name is %s" %name[1])

last name is Garhewal
last name is  Garhewal
last name is Garhewal

In [65]:
age=(4,6,5,2,3,7,9,12,6)

a= sorted(age)
print(a)

[2, 3, 4, 5, 6, 6, 7, 9, 12]

In [70]:
name=('gaurav','ravi','amul','aa')
n=sorted(name)

n1=tuple(n)

n1

('aa', 'amul', 'gaurav', 'ravi')

In [83]:
tup=('Gaurav','Garhewal',29,30)

print(con)
print(tup[1])
print(tup[1:3])
print(tup[2]+tup[3])
print(tup[0]+" "+tup[1])
tup1=tup*2
print(tup1*2)

('Gaurav', 'Garhewal', 29, 30)
Garhewal
('Garhewal', 29)
59
Gaurav Garhewal
('Gaurav', 'Garhewal', 29, 30, 'Gaurav', 'Garhewal', 29, 30, 'Gaurav', 'Garhewal', 29, 30, 'Gaurav', 'Garhewal', 29, 30)

In [80]:
l1=[1,2,3,4]

del l1[2]

print(l1*2)

[1, 2, 4, 1, 2, 4]

# set denoted by {}

In [86]:
fruit=['apple','oragne']

In [87]:
fruit.index('oragne')

1

In [90]:
f="\n".join(fruit)
print(f)

apple
oragne

In [91]:
f2="\t".join(fruit)
print(f2)

apple	oragne

In [92]:
snack=['Choc','flakes']

In [95]:
d="2".join(snack)

In [98]:
pwd='great learning'

if (pwd =='great learning'):
    print("Correct pwd")
else:
    print("Incorrect")

Correct pwd

In [102]:
pwd2=init(pwd)

NameError: name 'init' is not defined

In [139]:
even=[]
odd=[]
sum_even=0
sum_odd=0
for i in range(0,10):
    if (i%2==0):
        even.append(i)
        sum_even=sum_even+i
    else:
        odd.append(i)
        sum_odd=sum_odd+i

print("\nThe even list is: \n ", even,"\n\n sum of even numbers is : \t",sum_even)
print("\n\nThe odd list is: \n ", odd,"\n\n sum of odd numbers is : \t",sum_odd)

The even list is:
  [0, 2, 4, 6, 8]

 sum of even numbers is : 	 20


The odd list is:
  [1, 3, 5, 7, 9]

 sum of odd numbers is : 	 25

In [121]:
list2=[]

In [109]:
list2

[]

In [122]:
list2.append(56)

In [111]:
list2

[56]

In [123]:
list2.append(69)

In [113]:
list2

[56, 69]

In [114]:
list2.pop()

69

In [115]:
list2

[56]

In [116]:
list2.count(56)

1

In [117]:
list2.append(69)

In [118]:
list1=[96,36]

In [119]:
list2.append(list1)

In [120]:
list2

[56, 69, [96, 36]]

In [124]:
list2

[56, 69]

In [125]:
list1

[96, 36]

In [126]:
list2.extend(list1)

In [127]:
list2

[56, 69, 96, 36]

In [146]:
cust_credit=int(input())

if (cust_credit<=25000):
    print("Customer is gold")
elif (cust_credit<=50000 and cust_credit>25000):
    print("Customer is diamond")
else:
    print("Customer is platinum")

5000000
Customer is platinum

In [150]:
list1=[10000,530000,255555,2698,214456,2256222,45000,44658,69000,45089,9600]

for i in range(8):
    if (list1[i]<=25000):
        print("Customer is gold")
    elif (list1[i]<=50000 and list1[i]>25000):
        print("Customer is diamond")
    else:
        print("Customer is platinum")

Customer is gold
Customer is platinum
Customer is platinum
Customer is gold
Customer is platinum
Customer is platinum
Customer is diamond
Customer is diamond

In [151]:
list1=[10000,530000,255555,2698,214456,2256222,45000,44658,69000,45089,9600]

for i in list1:
    if (i<=25000):
        print("Customer is gold")
    elif (i<=50000 and i>25000):
        print("Customer is diamond")
    else:
        print("Customer is platinum")
    if

Customer is gold
Customer is platinum
Customer is platinum
Customer is gold
Customer is platinum
Customer is platinum
Customer is diamond
Customer is diamond
Customer is platinum
Customer is diamond
Customer is gold

In [3]:
n=1

while(n<10):
    n=n+1
    if n==5:
        continue
    print(n)
    #n=n+1

2
3
4
6
7
8
9
10

In [4]:
for i in range(8):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7

In [5]:
divsev=[]
sum1=0
for i in range(400,850):
    if (i%7==0):
        divsev.append(i)
        sum1=sum1+i

print("\nThe divisible by seven list is: \n ", divsev,"\n\n sum of these numbers is : \t",sum1)

The divisible by seven list is:
  [406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847]

 sum of these numbers is : 	 40096

In [9]:
def evenodd(par):
    list1=[]
    sum=0
    for i in par:
        if (i%2==0):
            list1.append(i+2)
            sum=sum+i
        else:
            list1.append(i+1)
            sum=sum+i
    print(list1)
    print("Sum of all numbers: ",sum)

In [10]:
list3=[2,6,5,3,8,9,3,5,6,5,8,7]

evenodd(list3)

[4, 8, 6, 4, 10, 10, 4, 6, 8, 6, 10, 8]
Sum of all numbers:  67

In [11]:
list1=[1,2,3]
list2=[2,3,4]
list3=list1+list2
list3

[1, 2, 3, 2, 3, 4]

In [15]:
import numpy as np

list1=np.array([1,2,3])
list2=np.array([2,4,6])

list3=list1+list2
print(list3)

[3 6 9]

# Object Oriented Programming

In [16]:
class MyClass:
    x=3

In [17]:
p1=MyClass()

In [18]:
p1.x

3

In [48]:
class pr:
    def name(self):
        print("Gaurav")
    
    def work(a):
        a=10
        print(a)
        print("Vella")

In [49]:
p=pr()

In [43]:
p.name()

Gaurav

In [45]:
def name(se):
    print("Gaurav")

In [47]:
name("lk")

Gaurav

In [51]:
p.work()

10
Vella

In [97]:
class parent:       
    def getname(kevin,name):
        print("Your name is : ",name)
    def getage(kevin,age):
        print("Your age is :", age)

In [98]:
pr=parent()

In [99]:
pr.getage(25)

Your age is : 25

In [91]:
pr.getname("GG")

Your name is :  GG

In [60]:
pr.name()

TypeError: 'str' object is not callable

In [79]:
import numpy as np

list1=np.array([1,2,3])

In [80]:
list1

array([1, 2, 3])