In [1]:
from numpy import *
import numpy as np
import pandas as pd
from pandas import DataFrame
from pandas import Series
import matplotlib.pyplot as plt
import seaborn as sns

HR = pd.read_csv('F:/Week 4/EDA_Bangalore/EDA_Chennai_/HR_comma_sep.csv',sep = ',')

HR.rename(columns={'sales':'department'}, inplace=True)

HR.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

# 1. How much percentage of employees left the company in different departments?

In [83]:
emp_left=HR.groupby(['left','department']).count()
emp_left['Number of employees']=emp_left['satisfaction_level']
a=(emp_left['Number of employees'][1]/(emp_left['Number of employees'][0]+
                                       emp_left['Number of employees'][1]))*100
print("Employees left in different departments by percentage are : \n\n",a)

Employees left in different departments by percentage are :

 department
IT             22.249389
RandD          15.374841
accounting     26.597132
hr             29.093369
management     14.444444
marketing      23.659674
product_mng    21.951220
sales          24.492754
support        24.899058
technical      25.625000
Name: Number of employees, dtype: float64

# 2. How many employees got promoted in different salary ranges?

In [27]:
emp_prom_sal=HR.groupby(['promotion_last_5years','salary']).count()
emp_prom_sal['Number of employees']=emp_prom_sal['satisfaction_level']
print("Number of employees promoted according to salary range : \n\n",emp_prom_sal['Number of employees'][1])

Number of employees promoted according to salary range :

 salary
high       72
low        66
medium    181
Name: Number of employees, dtype: int64

# 3. How many employees, who got promoted left the company in different salary ranges?

In [35]:
emp_prom_left=HR.groupby(['promotion_last_5years','left','salary']).count()
emp_prom_left['Number of employees']=emp_prom_left['satisfaction_level']
print("Number of employees promoted and left: \n\n",emp_prom_left['Number of employees'][1][1])

Number of employees promoted and left:

 salary
low       14
medium     5
Name: Number of employees, dtype: int64

# 4. How many employees, who got promoted left the company in different departments?

In [64]:
emp_prom_left_dep=HR.groupby(['promotion_last_5years','left','department']).count()

emp_prom_left_dep['Number of employees']=emp_prom_left_dep['satisfaction_level']

a=emp_prom_left_dep['Number of employees'][1][1]

print("Number of employees promoted and left: \n\n",a)

Number of employees promoted and left:

 department
IT            3
management    3
sales         7
support       3
technical     3
Name: Number of employees, dtype: int64

# 5. Average satisfaction level of the company of those who left?

In [62]:
emp_lef=HR.groupby('left').mean()['satisfaction_level'][1]

print("Average satisfaction level of employee who left is : ",emp_lef)

Average satisfaction level of employee who left is :  0.44009801176140917

# 6. Average evaluation points of the company who stayed?

In [61]:
b=HR.groupby('left').mean()['last_evaluation'][0]
print("Average Evaluation point of emp stayed : ",b)

Average Evaluation point of emp stayed :  0.7154733986699274

# 7. Average monthly time spent by employees?

In [60]:
a=HR['average_montly_hours'].mean()
print("Average montly hours spend by emp: ",a)

Average montly hours spend by emp:  201.0503366891126

# 8. Average number of projects that each employee works on?

In [55]:
print("Average number of projects : ",HR['number_project'].mean())

Average number of projects :  3.80305353690246

# 9. Average monthly hours spent by the employees who “left”?

In [65]:
emp_lef_hr=HR.groupby('left').mean()['average_montly_hours'][1]
print('Average monthly hour spend by emp left is: ',emp_lef_hr)

Average monthly hour spend by emp left is:  207.41921030523662

# 10. How many employees left after work accident?

In [67]:
emp_acc=HR.groupby(['Work_accident','left']).count()
emp_acc['Number of employees']=emp_acc['satisfaction_level']
a=emp_acc['Number of employees'][1][1]
print("Number od employees left after accident: ",a)

Number od employees left after accident:  169

# 11. Which department has the highest satisfaction level?

In [104]:
emp_dept=HR.groupby('department').mean()
a=emp_dept['satisfaction_level'].max()

b=emp_dept[emp_dept['satisfaction_level']==a]['satisfaction_level']

print("The department with high level of satisfaction is : \n",b)

The department with high level of satisfaction is :
 department
management    0.621349
Name: satisfaction_level, dtype: float64

# 12. Which department’s employees have the best evaluation?

In [109]:
emp_dept=HR.groupby('department').mean()

a=emp_dept['last_evaluation'].max()

b=emp_dept[emp_dept['last_evaluation']==a]['last_evaluation']

print("The department with high level of satisfaction is : \n",b)

The department with high level of satisfaction is :
 department
management    0.724
Name: last_evaluation, dtype: float64